includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  paths:
    - app
    - bootstrap/app.php
    - config
    - database
  level: 6
  tmpDir: storage/framework/cache/phpstan
  checkModelProperties: true
  checkOctaneCompatibility: true
  parallel:
    maximumNumberOfProcesses: 8
